<button onClick="addShape()">Add Shape</button>
<button ng-click="saveAllBlocks()">Save All</button>
<button ng-click="clearBlocks()">Delete All</button>

<svg>
<div class="dropdown">
   <div id="menuitems" class="dropdown-toggle" data-toggle="dropdown">
   Menu
   </div>

   <ul class="dropdown-menu" id="xxx" role="menu" aria-labelledby="menuitems">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" <="" i="">Link 1</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" <="" i="">Link 2</a></li>
   </ul>
</div>
</svg>

<script type="text/javascript" src="../js/index.js"></script>
