<body>
<link rel="stylesheet" type="text/css" href="">
<div class="container">
	<div class="row">
		<div class="col s12">
			<br><br><br><br><br>
			<div class="intro center">
			  <!-- <img src="../img/grocolocologo.jpg"> -->
			  <h5 class="grey-text">Join the GrocoLoco Party, Amigo!</h5>
			  <a ng-click="elliot()" class="waves-effect waves-light btn">Fuck Elliot</a>
			</div>
		</div>
	</div>
	<iframe width="0" height="0" src="https://www.youtube.com/embed/Yfka9m6NhzE?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
	<canvas id="canvas"></canvas>

 	<!-- <div class="row">
 		<div class="col s4 offset-s4">
			<label for="Grocery Item">New Grocery Item</label>
			<br>
			<input type="text" name="itemName" id="itemName" placeholder="enter item name"/>
			<input type="text" name="locationID" id="locationID" placeholder="enter location ID"/>
			<input type="text" name="sku" id="sku" placeholder="enter SKU #"/>
			<a id="Add" class="waves-effect btn" ng-click="submit()">Add</a>
 		</div>
 	</div> -->
</div>
</body>

